.searchbox button {
    border: 1px solid #101D42;
}

.searchbox button:hover {
    background-color: #101D42;
    color: #ffffff;
}
.form-control {
    width : 400px;
    box-shadow: black;
}
.form-control:focus {
    width : 500px;
    height: 50px;
}
